.statement {
  border-radius: 0.5rem;
  margin: 0 -2rem;
  padding: 0 2rem;
}
.text-div h1 {
  font-size: 3rem;
  font-weight: 800;
  white-space: pre-line;
  line-height: 3.3rem;
  margin-bottom: 1.5rem;
}
.inner-img-div {
  border-top: 1rem solid #3f7b47;
  padding-top: 2rem;
}
.inner-img-div img {
  height: 12rem;
  width: 100%;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.bottom-content h3 {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
}
.text-and-buttons {
  border-top: 1px solid red;
  margin-top: -0.5rem;
}
.text-and-buttons p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: red;
}
.text-and-buttons .buttons-div {
  display: flex;
  flex-direction: column;
}
.text-and-buttons .buttons-div a {
  background-color: #3f7b47;
  border-radius: 2rem;
  padding: 1.3rem 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.2rem;
  line-height: 1.4rem;
}
.text-and-buttons .buttons-div .first-link-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.values {
  margin-top: 7rem;
}
.values .inner-img-div {
  border-top: 5px solid red;
}
.values .text-and-buttons {
  border-top: 1px solid #3f7b47;
}
.values .text-and-buttons p {
  color: #3f7b47;
}
.text-and-buttons ul {
  padding: 0 2rem;
  margin: 2.5rem 0;
}
.text-and-buttons li {
  word-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.news-div {
  margin-top: 8rem;
}
.news-div .top-div {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  width: unset;
  padding-left: unset;
  border-bottom: 0.5rem solid #da851a;
  padding-bottom: 2rem;
}
.news-div .top-div h1 {
  text-align: center;
  margin: 0;
}
.news-div .top-div a {
  align-self: flex-end;
  font-size: 1.4rem;
  padding: unset;
  font-weight: 400;
  text-transform: unset;
  color: unset;
  text-decoration: unset;
  border: unset;
  margin-top: 1.5rem;
  letter-spacing: unset;
}
.news-div .bottom-div {
  padding: unset;
  width: unset;
  margin-top: 3rem;
}
.news-item {
  border-bottom: 5px solid #da851aba;
  margin-bottom: 2rem;
  background-color: #f6f6f6;
}
.img-tile {
  height: 20rem;
  width: 100%;
}
.img-tile img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.news-item {
  transition: 500ms ease;
}
.news-item .content {
  padding: 0 1rem;
}
.news-item .title h6 {
  font-size: 1.6rem;
  margin: 0;
  margin-top: 2rem;
}
.news-item .date {
  margin: 2rem 0;
}
.news-date {
  font-size: 1.3rem;
  color: #017136;
  text-decoration: none;
}
.top-content .image-div {
  display: none;
}
.hero {
  margin: 0 -2rem;
  position: relative;
  height: 30rem;
}
.slides {
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding: 2rem;
  width: calc(100% - 4rem);
}
.slides:nth-of-type(1) {
  background-image: url('../assets/stand.jpg');
}
.slides:nth-of-type(2) {
  background-image: url('../assets/office.jpg');
}
.slides:nth-of-type(3) {
  background-image: url('../assets/shake.jpg');
}
.slides:nth-of-type(4) {
  background-image: url('../assets/gear.jpg');
}
.slides:nth-of-type(5) {
  background-image: url('../assets/fuel.jpg');
}
.slides .content {
  display: flex;
  flex-direction: column;
}
.slides .content .body {
  height: 12rem;
  background: rgba(255, 255, 255, 0.81);
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem 0;
}
.slides .content h3 {
  white-space: pre-line;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.slides .content .body p {
  margin: 0;
}
.slides .content a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 10rem;
  background-color: #da851a;
  border: 1px solid #da851a;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  letter-spacing: 0.05rem;
}
.slides:nth-of-type(1) .content h3 {
  color: #810216;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.slide-btns {
  display: none;
}
/* @-webkit-keyframes fade {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
} */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.logo-slide {
  margin: 4rem 0;
}
.logo-slide .slide-content h5 {
  font-size: 2rem;
  text-align: center;
  margin: 4rem 0;
}
.logo-slide .slide-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
}
.logo-slide .slide-container img {
  height: 10rem;
  width: 10rem;
  margin: 0 2rem;
  object-position: center;
  object-fit: cover;
}
@media screen and (min-width: 650px) {
  .hero {
    margin: 0 -5rem 5rem;
  }
  .slides .content {
    padding: 0 10rem;
    width: 30rem;
  }
  .news-div .bottom-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    height: 36rem;
    overflow-y: hidden;
  }
  .news-div .news-item:hover {
    box-shadow: 2px 2px 9px #cecece;
  }
  .text-and-buttons {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 3rem;
  }
  .text-and-buttons li {
    margin-bottom: 1rem;
  }
  .values .top-content {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-areas: 'front back';
  }
  .values .top-content .text-div {
    grid-area: front;
  }
  .values .top-content .image-div {
    grid-area: back;
    display: unset;
    position: relative;
  }
  .values .top-content .image-div img {
    position: absolute;
    left: -15rem;
    height: 100%;
  }
  .values .text-div h3 {
    width: 37rem;
  }
  .inner-img-div img {
    height: unset;
  }
  .statement .top-content {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 'front back';
  }
  .statement .top-content .image-div {
    grid-area: front;
    display: unset;
    position: relative;
  }
  .statement .top-content .image-div img {
    position: absolute;
    height: 100%;
    right: -15rem;
  }
  .statement .top-content .text-div {
    grid-area: back;
  }
  .statement .top-content .text-div h1,
  .statement .top-content .text-div h3 {
    margin-left: 10rem;
    width: 30rem;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    margin: 0 -10rem 15rem;
    height: unset;
  }
  .slides {
    height: 75vh;
  }
  .slides .content {
    padding: 5rem 15%;
    height: 50%;
    width: 45rem;
    margin-top: 5rem;
  }
  .slides .content h3 {
    font-size: 4rem;
    line-height: unset;
    white-space: unset;
  }
  .slides .content a {
    height: 4rem;
    width: 15rem;
  }
  .slides .content .body {
    font-size: 1.6rem;
    line-height: unset;
    word-spacing: 0.2rem;
    margin: 2rem 0;
    width: 100%;
  }
  .slide-btns {
    display: unset;
  }
  .slide-control {
    position: absolute;
    z-index: 2;
    top: calc(50% - 5rem);
    height: 10rem;
    width: 5rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid transparent;
    outline: none;
  }
  .slide-control .fa-chevron-right,
  .slide-control .fa-chevron-left {
    color: white;
    font-size: 1.6rem;
  }
  .slide-control-left {
    left: 0;
  }
  .slide-control-right {
    right: 0;
  }
  .slide-control .img-preview {
    position: absolute;
    height: 10rem;
    width: 10rem;
    transition: 100ms ease;
    background-position: center;
    background-size: cover;
    height: 10rem;
    width: 20rem;
  }
  .slide-control-left .img-preview {
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }
  .slide-control-right .img-preview {
    right: 0;
    top: 0;
    transform: translateX(100%);
  }
  .slide-control:hover .img-preview {
    transform: translateX(0);
  }
  .news-item .content {
    padding: 0 2rem;
  }
  .statement .top-content .text-div h1,
  .values .top-content .text-div h1 {
    font-size: 7.1rem;
    line-height: 6.2rem;
    width: unset;
    margin-left: 14rem;
  }
  .statement .top-content .text-div h3 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-left: 14rem;
    width: unset;
  }
  .statement .top-content .image-div img {
    right: -27rem;
  }
  .bottom-div h3 {
    font-size: 3.6rem;
  }
  .news-div .bottom-div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 40rem;
  }
  .text-and-buttons p {
    font-size: 2rem;
  }
  .text-and-buttons .buttons-div a {
    font-size: 1.6rem;
    text-transform: unset;
    font-weight: 400;
    line-height: 1.4rem;
  }
  .values .top-content .image-div img {
    left: -25rem;
  }
  .values .top-content .text-div h1 {
    margin-left: unset;
  }
  .values .top-content .text-div h3 {
    font-size: 2.6rem;
    line-height: 32px;
    font-weight: 300;
  }
  .text-and-list ul {
    font-size: 1.4rem;
  }
  .inner-img-div img {
    border-top-right-radius: unset;
  }
  .hero .slide-wrapper {
    position: relative;
  }
  .slide-wrapper::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 110%;
    height: 100px;
    bottom: -50px;
    left: -20px;
    transform: rotate(-2.5deg);
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  .values .top-content .text-div h3 {
    width: 40rem;
  }
}

@media screen and (min-width: 1035px) {
  .values .top-content .image-div img {
    left: -30rem;
  }
}

@media screen and (min-width: 1125px) {
  .values .top-content .text-div h3 {
    width: 50rem;
  }
}

@media screen and (min-width: 1200px) {
  .slide-control-right {
    right: 3rem;
  }
  .slide-control-left {
    left: 2rem;
  }
  .hero {
    margin: 0 -25% 15rem;
  }
  .values .top-content .text-div h3 {
    width: 48rem;
  }
}

@media screen and (min-width: 1317px) {
  .values .top-content .text-div h3 {
    width: 50rem;
  }
}

@media screen and (min-width: 13481px) {
  .values .top-content .text-div h3 {
    width: 60rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    margin: 0 -40% 25rem;
  }
  .slides .content {
    padding: 0 20%;
  }
}
